USE [master]
GO
/****** Object:  Database [utms]    Script Date: 16.5.2021 г. 2:41:53 ******/
CREATE DATABASE [utms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'utms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\utms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'utms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\utms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [utms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [utms]
GO
/****** Object:  Table [dbo].[project]    Script Date: 16.5.2021 г. 2:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
 CONSTRAINT [PK__project__3213E83FB8D748CC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__project__72E12F1B5ED847D2] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_case]    Script Date: 16.5.2021 г. 2:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_case](
	[name] [varchar](50) NOT NULL,
	[suite_name] [varchar](50) NOT NULL,
	[run_id] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[description] [varchar](255) NULL,
	[enabled] [tinyint] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[output] [varchar](255) NULL,
	[start_time] [varchar](50) NULL,
	[end_time] [varchar](50) NULL,
	[error] [varchar](255) NULL,
 CONSTRAINT [PK_test_case] PRIMARY KEY CLUSTERED 
(
	[name] ASC,
	[suite_name] ASC,
	[run_id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_run]    Script Date: 16.5.2021 г. 2:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_run](
	[id] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_test_run] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_suite]    Script Date: 16.5.2021 г. 2:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_suite](
	[name] [varchar](50) NOT NULL,
	[run_id] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_test_suite_1] PRIMARY KEY CLUSTERED 
(
	[name] ASC,
	[run_id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[test_case]  WITH CHECK ADD  CONSTRAINT [FK_test_case_test_suite] FOREIGN KEY([suite_name], [run_id], [project_id])
REFERENCES [dbo].[test_suite] ([name], [run_id], [project_id])
GO
ALTER TABLE [dbo].[test_case] CHECK CONSTRAINT [FK_test_case_test_suite]
GO
ALTER TABLE [dbo].[test_run]  WITH CHECK ADD  CONSTRAINT [FK_test_run_test_run] FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[test_run] CHECK CONSTRAINT [FK_test_run_test_run]
GO
ALTER TABLE [dbo].[test_suite]  WITH CHECK ADD  CONSTRAINT [FK_test_suite_test_run] FOREIGN KEY([run_id], [project_id])
REFERENCES [dbo].[test_run] ([id], [project_id])
GO
ALTER TABLE [dbo].[test_suite] CHECK CONSTRAINT [FK_test_suite_test_run]
GO
USE [master]
GO
