[submodule "utms-cli"]
	path = utms-cli
	url = https://gitlab-talentboost.vmware.com/sim0na1999/utms-cli
[submodule "utms-backend"]
	path = utms-backend
	url = https://gitlab-talentboost.vmware.com/sim0na1999/utms-backend
[submodule "utms-frontend"]
	path = utms-frontend
	url = https://gitlab-talentboost.vmware.com/sim0na1999/utms-frontend
[submodule "utms-sandbox"]
	path = utms-sandbox
	url = https://gitlab-talentboost.vmware.com/sim0na1999/utms-sandbox
