.project-detail {
    margin: 50px;
}

#project-name {
    color: rgb(81, 197, 81);
}

#project-description {
    margin-top: -15px;
}

table, td, tr {
    border: 1px solid black;
}

td {
    padding-left: 8px;
}

.runs-table {
    width: 30%;
    border-collapse: collapse;
    color: #525252b2;
    font-size: 20px;
}

.runs-table tr:nth-child(even) {
    background-color: #cacaca;
}

a {
    color: #525252b2;
}